<body >
    <form style="margin:auto;width:220px;">

        <h3>Login Form</h3>
        <div class="container" >
            <BR>
            <label for="Username">Username:</label>
            <input type="Username" id="Username" name="Username">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <br>
            <button (click)="login1()">Login</button>
        </div>
    </form>
</body>